<!DOCTYPE html>
<html>
    <head>
        <%- include('links') %>   
        <link rel="stylesheet" href="../assets/scss/tagify.css">
        <link rel="stylesheet" href="../assets/scss/profile.css">
    </head>
    <body>
        <div class="editNumberContainer" id="edit">
            <div class="editNumberBox">
                <form action="/editMobileNumber" method="POST">
                    <h3>Current Mobile Number</h3>
                    <input type="text" value="<%= user.mobile %>" name="mobile" readonly>
                    <h3>Enter New Mobile Number</h3>
                    <input type="text" name="newMobile">
                    <div class="confirmationBox">
                        <div class="yes" onclick="edit()"><button type="button">Cancel</button></div>
                        <div class="no"><button>Done</button></div>
                    </div>
                </form>
            </div>
        </div>
        <%- include('headerMain') %>
        <section>
            <div class="container_box">
                <%- include('toaster') %>
            <div class="dashboard">
                <h2>Dashboard</h2> 
                <% if(user.isDoctor == "user"){ %> 
                    <div class="mobile_dashboard">
                        <i class="fas fa-chevron-left"></i>
                        <h3><i class="fas fa-user-edit"></i>Profile</h3>
                        <i class="fas fa-chevron-right"></i>
                    </div>
                    <div class="web_dashboard">
                        <a href="/profile"><h3><i class="fas fa-user-edit"></i>Profile</h3></a>
                        <a href="/appointment"><h4><i class="fas fa-list"></i>Appoinments</h4></a>
                        <a href="/medicalReports"><h4><i class="fas fa-file-alt"></i>Medical Reports</h4></a>
                        <a href="/settings"><h4><i class="fas fa-users-cog"></i>Settings</h4></a>
                    </div>
                    <% }else{ %>
                        <div class="mobile_dashboard">
                            <i class="fas fa-chevron-left"></i>
                            <h3><i class="fas fa-user-edit"></i>Profile</h3>
                            <i class="fas fa-chevron-right"></i>
                        </div>
                        <div class="web_dashboard">
                            <a href="/profile"><h3><i class="fas fa-user-edit"></i>Profile</h3></a>
                            <a href="/appointment"><h4><i class="fas fa-list"></i>Appoinments</h4></a>
                            <a href="/createSchedule"><h4><i class="fas fa-pen-fancy"></i>Create/Edit Schedule</h4></a>
                            <a href="/medicalReports"><h4><i class="fas fa-file-alt"></i>Medical Reports</h4></a>
                            <a href="/settings"><h4><i class="fas fa-users-cog"></i>Settings</h4></a>
                        </div>  
                        <% } %>
            </div>
            <div class="profile">
                <form action="/editProfile" method="POST" enctype="multipart/form-data">
                <div class="profile_header">
                    <h2>Accounts</h2>
                    <button id="save-btn">Save Changes</button>
                </div>
                    <div class="profile_section">
                        <div class="profile_photo_grid">
                            <h3>Profile Photo</h3>
                            <div class="select_photo">
                                <div id="profile_photo"><img src="../assets/uploads/<%= user.image %>" id="profile_pic"></div>
                                <div><p>Pick a photo from your system</p>
                                    <label for="select_photo">Select Photo<input type="file" name="select_photo" id="select_photo"></label></div>
                            </div>
                        </div>
                        <div class="input_grid">
                            <h3>Name</h3>
                            <input type="text" id="name" value="<%= user.name %>" name="name">
                        </div>
                    </div>
                    <div  class="profile_section">
                        <div class="input_grid">
                            <div class="mobile_header">
                                <h3>Mobile</h3>
                                <label for="mobile" onclick="edit()">Edit</label>
                            </div>
                            <input type="text" id="mobile" value="<%= user.mobile %>" name="mobile" readonly>
                        </div>
                        <div class="input_grid">
                            <h3>Email</h3>
                            <input type="email" name="email" value="<%= user.email %>" id="email">
                        </div>
                        <div class="input_grid">
                            <h3>Gender</h3>
                            <input list="genders" id="gender" value="<%= user.gender %>" name="gender">
                            <datalist id="genders">
                                <option value="Male"></option>
                                <option value="Female"></option>
                                <option value="Others"></option>
                            </datalist>
                        </div> 
                        <div class="input_grid">
                            <h3>Date of Birth</h3>
                            <input type="date" id="dob" value="<%=(user.dob).toString().substring(0,10)%>" name="dob">
                        </div>
                        <div class="input_grid">
                            <h3>Timezone</h3>
                            <input type="text" id="timezone" name="timezone">
                        </div>
                    </div>
                    <div class="profile_section">
                        <div class="input_grid">
                            <h3>House No./Street Name/Area</h3>
                            <input type="text" id="house" value="<%= user.house %>" name="house">
                        </div>
                        <div class="input_grid">
                            <h3>Colony/Street/Locality</h3>
                            <input type="text" id="locality" value="<%= user.locality %>" name="locality">
                        </div>
                        <div class="input_grid">
                            <h3>City</h3>
                            <input type="text" id="city" value="<%= user.city %>" name="city">
                        </div>
                        <div class="input_grid">
                            <h3>State</h3>
                            <input type="text" id="state" value="<%= user.state %>" name="state">
                        </div>
                        <div class="input_grid">
                            <h3>Country</h3>
                            <input list="Countries" id="country" value="<%= user.country %>" name="country">
                            <datalist id="Countries">
                                <option value="India"></option>
                                <option value="Usa"></option>
                                <option value="Australia"></option>
                                <option value="Pakistan"></option>
                                <option value="China"></option>
                                <option value="Russia"></option>
                            </datalist>
                        </div>
                    </div>
                    <% if(user.isDoctor == "doctor"){ %>
                        <div class="doctor_details">
                            <div class="profile_section">
                                <div class="input_grid">
                                    <h3>Speciality</h3>
                                    <input type="text" id="specializations" value="<%= user.doctorData.specializations %>" name="specializations">
                                </div>
                                <div class="input_grid">
                                    <h3>Qualifications</h3>
                                    <input type="text" name="qualifications" value="<%= user.doctorData.specializations %>" id="qualifiactions">
                                </div>
                                <div class="input_grid">
                                    <h3>Treatments</h3>
                                    <input type="text" name="treatments"  id="treatments" value="<%= user.doctorData.treatments %>" required>
                                </div>
                                <div class="input_grid">
                                    <h3>Achievements</h3>
                                    <input type="text" name="achievements" value="<%= user.doctorData.achievements %>" id="achievements" required>
                                </div>
                                <div class="input_grid">
                                    <h3>Your Hospitals</h3>
                                    <input type="text" name="hospitals" value="<%= user.doctorData.hospitals %>" id="hospitals" required>
                                </div>
                                <div class="input_grid">
                                    <h3>Awards</h3>
                                    <input type="text" name="awards" value="<%= user.doctorData.awards %>" id="awards">
                                </div>
                                <div class="input_grid">
                                    <h3>Years of Experience</h3>
                                    <input type="number" min="0" value="<%= user.doctorData.experience %>" name="experience" id="experience" placeholder="Your years of experience(in number)" required>
                                </div>
                                <div class="input_grid">
                                    <h3>Average Fees.</h3>
                                    <input type="text" id="fees" value="<%= user.doctorData.fees %>" name="fees" required>
                                </div>
                            </div>
                            <h3>Describe Yourself</h3>
                            <textarea name="description" id="" cols="30" rows="10" required><%= user.doctorData.description %></textarea>
                        </div>
                        <%}%>
                </form>
            </div>
            
    </div>
        </section>
        <%- include('footer') %>
        <script src="../assets/scripts/tagify.min.js"></script>
    <script>
        var hospitals = document.querySelector("input[name=hospitals]");
        var tagify = new Tagify(hospitals);
        var achievements = document.querySelector("input[name=achievements]");
        var tagify = new Tagify(achievements);
        var awards = document.querySelector("input[name=awards]");
        var tagify = new Tagify(awards);
        var specializations = document.querySelector("input[name=specializations]");
        var tagify = new Tagify(specializations);
        var qualifications = document.querySelector("input[name=qualifications]");
        var tagify = new Tagify(qualifications);
        var treatments = document.querySelector("input[name=treatments]");
        var tagify = new Tagify(treatments);
    </script>
        <script>
            
            function edit(){
                const form = document.getElementById("edit");
                if(form.style.display == "none")
                form.style.display = "block";
                else
                form.style.display = "none";
            }

            const select = document.getElementById("select_photo");
            const pic = document.getElementById("profile_pic");
            select.addEventListener("change",()=>{
                var src = URL.createObjectURL(select.files[0]);
                pic.src = src;
            });
        </script>
    </body>
    </html>
    